:root {
  --color-h: 0;
  --color-s: 0%;
  --color-l: 40%;
  --button-color: hsl(230, 90%, 60%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: hsl(
    var(--color-h),
    var(--color-s),
    calc(var(--color-l) * 0.3)
  );
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  background-color: var(--button-color);
  color: hsl(0, 100%, 100%);
}

button,
input {
  border-style: none;
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

h1 {
  color: hsl(var(--color-h), var(--color-s), calc(var(--color-l) * 2));
  margin-top: 2rem;
  text-transform: uppercase;
}

input {
  color: hsl(var(--color-h), var(--color-s), calc(var(--color-l) * 0.5));
  width: 33vw;
}
